@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 1.1rem;
}

#banner {
    height: 100px;
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 50px;
    background-color: #7a8991;
}

#idhlLogo {
    padding-left: 35px;
    height: 95px;
}

.contentContainer {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
}
